		  <nav class="navbar navbar-expand-lg navbar-light bg-light">
			   <%= link_to 'cerealsly', root_path, class: 'navbar-brand text-success' %>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			    	<li class="nav-item">
			        <%= link_to 'Home', posts_path, class: 'nav-link' %>
			      </li>
			      <li class="nav-item">
			        <%= link_to 'Create', new_post_path, class: 'nav-link' %>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">About</a>
			      </li>
			      <li class="nav-item">
			        <%= link_to 'My Profile', profile_path(@user.id), class: 'nav-link' %>
			      </li>
			      <li class="nav-item">
			        <%= link_to 'Log Out', destroy_user_session_path(@post), method: :delete, class: 'nav-link' %>
			      </li>

			    </ul>
			  </div>
			</nav>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="col center-block pt-5" align="center">
  <h2>Update <%= resource_name.to_s.humanize %></h2>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <br/>
    <%= f.label :password %>
    <p><i>(leave blank if you don't want to change it)</i></p>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters min</em>
    <% end %>
  </div>

  <div class="field">
  <br/>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
  <br/>
    <%= f.label :current_password %> 
    <p><i>(we need your current password to confirm your changes)</i></p>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
  <br/>
    <%= f.submit "Update", :class => 'btn btn-outline-success rounded-pill btn-sm mt-auto' %>
  </div>
<% end %>
</div>

<div class="row justify-content-center pt-5">
<h5>Spilled Milk?</h5>
</div>
<div class="row justify-content-center pt-auto">
<%= link_to "Cancel my account", registration_path(resource_name), :class => 'btn btn-outline-success rounded-pill btn-sm mt-auto', data: { confirm: "Are you sure?" }, method: :delete %>
</div>

<div class="row justify-content-md-center pt-5">
<%= link_to 'Back', url_for(:back), :class => 'btn btn-outline-success rounded-pill btn-sm mt-auto' %>
</div>
