

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="col center-block pt-5" align="center">

  <h2>Forgot your<br> password?</h2>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br />

  <div class="actions">
    <%= f.submit "Send me reset password instructions", :class => 'btn-success rounded-pill btn-lg' %>
  </div>

  </div>
<% end %>

<div class="col center-block pt-5" align="center">

<%= render "devise/shared/links" %>

</div>
