<%# Navbar %>
<% if user_signed_in? %>

			<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-success">

			   <%= link_to 'cerealsly', root_path, class: 'navbar-brand text-success' %>

			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

			    <span class="navbar-toggler-icon"></span>

			  </button>

			  <div class="collapse navbar-collapse" id="navbarNav">

			    <ul class="navbar-nav">

			    	<li class="nav-item">

			        <%= link_to 'The Pantry', posts_path, class: 'nav-link' %>

			      </li>

			    	<li class="nav-item dropdown">

							<a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

								 Shelves

							</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

									<li><%= link_to 'All Shelves', categories_path, class: 'nav-link' %></li>

									<% Category.all.each do |category| %>

									<li><%= link_to "#{category.name}", category_path(category), class: 'nav-link' %></li>

								  <% end %>

								</ul>

						</li>

						</ul>

			      <ul class="navbar-nav ml-auto">

						<li class="nav-item">

			        <%= link_to current_user.username, profile_path(current_user), class: 'nav-link text-success pr-4' %>

						</li>

						<li class="nav-item">

			        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-success btn-sm rounded-pill pl-4 pr-4 pt-2 pb-2' %>

						<li class="nav-item">

			      </ul>


			  </div>

			</nav>

<% else %>

			<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-success">

			   <%= link_to 'cerealsly', root_path, class: 'navbar-brand text-success' %>

			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

			    <span class="navbar-toggler-icon"></span>

			  </button>

			  <div class="collapse navbar-collapse" id="navbarNav">

			    <ul class="navbar-nav">

			    	<li class="nav-item">

			        <%= link_to 'The Pantry', posts_path, class: 'nav-link' %>

			      </li>

			    	<li class="nav-item dropdown">

							<a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

								 Shelves

							</a>

								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">

									<li><%= link_to 'All Shelves', categories_path, class: 'nav-link' %></li>

									<% Category.all.each do |category| %>

									<li><%= link_to "#{category.name}", category_path(category), class: 'nav-link' %></li>

								  <% end %>

								</ul>

						</li>

					</ul>

			    <ul class="navbar-nav ml-auto">

			        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-outline-success btn-sm rounded-pill pl-4 pr-4 pt-2 pb-2' %>

			    </ul>

			  </div>

			</nav>

<% end %>


		<div class="col center-block pt-5" align="center">
			<h2 id="greeting"><%= @user.username %></h2>


	<% if @user.profile_pic != nil %>
		<div>
		<%= image_tag (@user.profile_pic), style: 'width: 200px; height: 170px', :class => 'pt-3 rounded-circle' %>
		<% end %>
		</div>


		<div>
		<br>
		<%= @user.about%>
		</div>
		</div>

	<div>
	<%if current_user == @user%>
	<div class="row justify-content-md-center pt-5">
	<%= link_to 'Update Your Info', edit_user_registration_path(current_user), :class => 'btn btn-outline-success rounded-pill btn-sm mt-auto' %>
	</div>
	<% end %>
	</div>



<div class="flickr_pagination mt-4">
		    <%= will_paginate @posts, :container => false %>
  </div>

		<div class="container mt-4">

			<%# <div class="container"> %>
			<%if @posts.exists? %>
			<div class="col center-block pt-5" align="center">
			<h2 id="greeting"><%= @user.username %>'s Bowls</h2>
			</div>

				<div class="row justify-content-md-center">


				<% @posts.each do |post| %>

					<div class="col-md-4 d-flex align-items-stretch">

						<div class="card border-success align-items-center mb-3 d-flex flex-column" style="width: 18rem;">


							<%= image_tag (post.img_url), style: 'width: 200px; height: 170px', :class => 'pt-3' %>

							<h5 class="card-title text-dark text-center pt-3"><%= post.title %></h5>

							<p class="card-text text-center"><%= post.body %></p>

							<!--Likes-->
							<small class="text-center"><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></small><br>

							<small class="text-center">Created <%= time_ago_in_words(post.created_at) %> ago</small><br>

							<%# <div class="position-absolute bm-0"> %>

								<%= link_to 'View', post_path(post), :class => 'btn btn-outline-success rounded-pill btn-sm mt-auto stretched-link' %>
							<p>  </p>

							<%# </div> %>

						</div>

					</div>

				<% end %>

				</div>

		</div>

		<div class="flickr_pagination mt-4">
		    <%= will_paginate @posts, :container => false %>
  </div>
  <%else%>
  <div class="col center-block pt-5" align="center">
  <h2 id="greeting"><%= @user.username %>'s has no cereals</h2>
  </div>
<%end%>
		<div class="row justify-content-md-center pt-5">
		<%= link_to 'Back', url_for(:back), :class => 'btn btn-outline-success rounded-pill btn-sm mt-auto' %>
		</div>