<nav class="navbar navbar-expand-lg navbar-light bg-light">
			   <%= link_to 'cerealsly', root_path, class: 'navbar-brand text-success' %>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			    	<li class="nav-item">
			        <%= link_to 'Home', posts_path, class: 'nav-link' %>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">About</a>
			      </li>

			    </ul>
			  </div>
			</nav>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>
    <% flash.each do |key, value| %>
       <div class="flash <%= key %>"><%= value %></div>
    <% end %>


  <div class="col center-block pt-5" align="center">

    <h2>Log in</h2>
    <br />

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>


    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <br />
    <div class="actions">
      <%= f.submit "Log in", :class => 'btn btn-success rounded-pill btn-lg' %>
    </div>
  </div>
<% end %>

  <div class="col center-block" align="center">
    <%= render "devise/shared/links" %>
  </div>