<% if user_signed_in? %>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			   <%= link_to 'cerealsly', root_path, class: 'navbar-brand text-success' %>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			    	<li class="nav-item">
			        <%= link_to 'Home', posts_path, class: 'nav-link' %>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">About</a>
			      </li>
			      <li class="nav-item">
			        <%= link_to 'My Profile', profile_path(current_user), class: 'nav-link' %>
			      </li>
			        <li class="nav-item dropdown">
									  <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    All Categories
									  </a>

									  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
													<li><%= link_to 'All Categories', categories_path, class: 'nav-link' %></li>
								    			<% Category.all.each do |category| %>
													<li><%= link_to "#{category.name}",category_path(category), class: 'nav-link' %></li>
								    		<% end %>
									  </ul>
							</li>
			      <li class="nav-item">
			        <%= link_to 'Log Out', destroy_user_session_path(@post), method: :delete, class: 'nav-link' %>
			      </li>

			    </ul>
			  </div>
			</nav>

			<% else %>

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			   <%= link_to 'cerealsly', root_path, class: 'navbar-brand text-success' %>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="#">About</a>
			      </li>
			      <li class="nav-item">
			        <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
			      </li>
			       <li class="nav-item">
			        <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
			      </li>
			    </ul>
			  </div>
			</nav>
			<% end %>



<div class="col-4">
    <ul class="list-group list-group-flush">
			  <li href="#" class="list-group-item list-group-item-action">
			    <div class="d-flex w-100 justify-content-between">
			      <p class="mb-1">Bran Cereal</p>
			    </div>
			    <p class="mb-1">Contains high quantities of fiber. Helps digestion and eliminates a consumer’s need for food for a longer period of time.</p>
			    <small class="text-muted">Kellogg’s All-Bran Cereal</small>
  		</li>
  		<li href="#" class="list-group-item list-group-item-action">
			    <div class="d-flex w-100 justify-content-between">
			      <p class="mb-1">Hot Cereal</p>
			    </div>
			    <p class="mb-1">Hot. Can be wholesome, unsweetened, sugary and processed.</p>
			    <small class="text-muted">E.g. Quaker Protein</small>
  		</li>
  		 <li href="#" class="list-group-item list-group-item-action">
			    <div class="d-flex w-100 justify-content-between">
			      <p class="mb-1">Whole-Grain Cereal</p>
			    </div>
			    <p class="mb-1">Healthier. Contains high levels of vitamins, minerals and other nutrients beneficial to the human body. Helps reduce cholesterol and sugar levels.
</p>
			    <small class="text-muted">E.g. Cheerios Whole Grain Oats</small>
  		</li>
  		 <li href="#" class="list-group-item list-group-item-action">
			    <div class="d-flex w-100 justify-content-between">
			      <p class="mb-1">Sugary Cereal</p>
			    </div>
			    <p class="mb-1">Sweet and savoury. Popular amongst younger consumers.</p>
			    <small class="text-muted">E.g. Cap’n Crunch Crunch’s Crunch Berries</small>
  		</li>

  		 <li href="#" class="list-group-item list-group-item-action">
					    <div class="d-flex w-100 justify-content-between">
					      <p class="mb-1">Organic Cereal</p>
					    </div>
					    <p class="mb-1">Cereals devoid of artificial fertilizers or modified ingredients. Uses honey instead of artificial sweeteners.</p>
					    <small class="text-muted">E.g. Kaia Cocoa Bliss</small>
		  		</li>
				</ul>
			</div>
</div>



<div class="col center-block pt-5" align="center">
<%= form_with scope: :post, url: posts_path, local: true do |form| %>

  <%= form_for @post do |form| %>

<h1>Add a bowl</h1>
		<%= render 'shared/errors', obj: @post %>
		  <p>
		    <%= form.label :title %><br>
		    <%= form.text_field :title %>
		  </p>

		  <p>
		    <%= form.label :img_url %><br>
		    <%= form.text_field :img_url %>
		  </p>

		  <p>
		  	<%= form.label :body %><br>
		    <%= form.text_area :body,  maxlength: @maximum_length, id: 'body' %><br>
		    <small>Characters left: <span id="counter" data-maximum-length="<%= @maximum_length %>"><%= @maximum_length %></span></small>


		  </p>
						<%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
						<% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
						<% end %>
		  <p>
		  	<%= form.submit "Create Bowl", :class => 'btn btn-outline-success rounded-pill btn-sm mt-auto' %>
		  </p>

		  <% end %>

		    <div class="row justify-content-md-center pt-5">
		        <%= link_to 'Back', url_for(:back), :class => 'btn btn-outline-success rounded-pill btn-sm mt-auto' %>
			</div>
		<% end %>
		</div>

<script>
    $(document).ready(function() {
      var body = $("#body");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");
      counter.text(max_length - body.val().length);
      body.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });
</script>