<% if user_signed_in? %>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			   <%= link_to 'cerealsly', root_path, class: 'navbar-brand text-success' %>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			    	<li class="nav-item">
			        <%= link_to 'Home', posts_path, class: 'nav-link' %>
			      </li>
			      <li class="nav-item">
			        <%= link_to 'Create', new_post_path, class: 'nav-link' %>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">About</a>
			      </li>
			      <li class="nav-item">
			        <%= link_to 'My Profile', profile_path(@user.id), class: 'nav-link' %>
			      </li>
			      <li class="nav-item">
			        <%= link_to 'Log Out', destroy_user_session_path(@post), method: :delete, class: 'nav-link' %>
			      </li>

			    </ul>
			  </div>
			</nav>

			<% else %>

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			   <%= link_to 'cerealsly', root_path, class: 'navbar-brand text-success' %>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="#">About</a>
			      </li>
			      <li class="nav-item">
			        <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
			      </li>
			       <li class="nav-item">
			        <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
			      </li>
			    </ul>
			  </div>
			</nav>
			<% end %>

<div class="container text-center mt-5">
	<div class="row">
		<div class="col">
<%= image_tag (@post.img_url), style: 'width: 450px; height: 450px', class: "img-fluid" %><br>

 <% if current_user %>
		<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-outline-dark' %>
		<%= link_to 'Delete', post_path(@post), class: 'btn btn-outline-dark', method: :delete, data:{ confirm: 'Are you sure?' } %>
		<% end %>

	</div>

<div class="col">
	<div class="text-left">
			<p>
			 	<strong><%= @post.title %></strong>
			</p>

			<p>
			  <small><%= @post.user.username %></small>

			</p>

			<p>
	  		<%= @post.body %>
			</p>
	</div>
	<%= form_with scope: :comment, url: comments_path, local: true do |form| %>
		<% if user_signed_in? %>
			<% if @comment %>
						<%= render 'shared/errors', obj: @comment %>
			<% end %>
			<div class="form-group">
				   		<%= form.label :content, class: 'col-2 col-form-label text-light' %>
				    	<%= form.text_area :content, rows: 5, class: 'form-control shadow rounded', placeholder: 'Make a comment' %>
				     	<%= form.hidden_field :post_id, value: @post.id %>
			  </div>
			 <div class="form-group text-left">
						  <%= form.submit class: "btn btn-outline-dark btn-lg " %>
						  </div>
				</form>
			<% end %>
		<% end %>
</div>
</div>


<div class="row justify-content-md-center pt-5">
        <%= link_to 'Back', url_for(:back), :class => 'btn btn-outline-success rounded-pill btn-sm mt-auto' %>
        </div>


<% @comments.each do |comment| %>
<div class="list-group mt-3 text-left">

  <div class="list-group-item list-group-item-action">

    <div class="d-flex  justify-content-between">

      <small><%= link_to comment.user.username, profile_path(comment.user.id) %></small>
      <small class="mb-3">Posted <%= time_ago_in_words(comment.created_at) %> ago</small>
    </div>
    <p class="mb-3 text-left"><%= comment.content %></p>
    <small></small>
     <% if current_user == comment.user %>
	<div class="btn-group" role="group">
				  <%= link_to 'Edit', edit_comment_path(comment), class: 'btn btn-outline-dark btn-group-small btn-sm comment-btns' %>
          <%= link_to 'Delete', comment_path(comment), class: 'btn btn-outline-dark btn-group-small btn-sm comment-btns', method: :delete, data:{ confirm: 'Are you sure?' } %>
        </div>
				  <% end %>

  </div>
</div>
<% end %>
</div>







<!-- <p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>

<%= image_tag (@post.img_url), style: 'width: 200px; height: 170px' %>

<p>
  <%= @post.body %>
</p>

<% if current_user == @post.user %>

		<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-outline-dark' %>
		<%= link_to 'Delete', post_path(@post), class: 'btn btn-outline-dark', method: :delete, data:{ confirm: 'Are you sure?' } %>
<% end %>


<%= form_with scope: :comment, url: comments_path, local: true do |form| %>

	<% if user_signed_in? %>

<% if @comment %>
			<%= render 'shared/errors', obj: @comment %>
<% end %>


		<div class="form-group">

		   		<%= form.label :content, class: 'col-2 col-form-label text-light' %>
		    	<%= form.text_area :content, rows: 4, class: 'form-control shadow rounded', placeholder: 'Make a comment' %>
		     	<%= form.hidden_field :post_id, value: @post.id %>
		  </div>
		 <div class="form-group">
					  <%= form.submit class: "btn btn-outline-dark btn-lg " %>
					  </div>
		</form>

	<div class="comment-header">
	<h2 >Comments</h2></div>
        <% @comments.each do |comment| %>
				<div class="list-group">
				  <div href="#" class="list-group-item list-group-item-action">
				    <div class="d-flex w-100 justify-content-between">
				      <small class="mb-2">Posted <%= time_ago_in_words(comment.created_at) %> ago</small>
				    </div>
				    <p class="mb-1"><%= comment.content %></p>
                    <small>by <%= link_to comment.user.username, profile_path(comment.user.id) %></small>
				  </div>
				  <div>
				  <% if current_user == comment.user %>
				  <%= link_to 'Edit', edit_comment_path(comment), class: 'btn btn-outline-dark' %>
                  <%= link_to 'Delete', comment_path(comment), class: 'btn btn-outline-dark', method: :delete, data:{ confirm: 'Are you sure?' } %>
				  <% end %>
				  </div>
				</div>
<% end %>


<% else %>

  <div class="comment-header">
	<h2 >Comments</h2></div>
		<% @comments.each do |comment| %>
                <div class="list-group">
				  <div href="#" class="list-group-item list-group-item-action">
				    <div class="d-flex w-100 justify-content-between">
				      <small class="mb-2">Posted <%= time_ago_in_words(comment.created_at) %> ago</small>
				    </div>
					<p class="mb-1"><%= comment.content %></p>
                    <small>by <%= link_to comment.user.username, profile_path(comment.user.id) %></small>
                  </div>

</div>
<% end %>

<% end %>
<% end %> -->